#newRequest{
  width:800px;
}
.tooltip {
    position: relative;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.instructionsInput {
  text-align:center; 
  width:150px;
}
#top {
  position:absolute;
  float:left;
  width:700px;
  margin-top:-325px;
  margin-left:50px;
}
#aboutYou{
  position:relative;
  float:left;
  width:300px;
}
#yourPrint {
  position:relative;
  float:right;
  width:300px;
  margin-left:25px;
  text-align:center;
}
#aboutYou, #yourPrint, #additionalNotes, #agreement {
  border-width:2px;
  border-style:solid;
  border-color:black;
  border-radius:15px;
  padding:2%;
}
#additionalNotes {
  width:500px;
  position:relative;
  margin-top:350px;
}
#agreement {
  position:relative;
  width:500px;
  margin-top:20px;
}
h2 {
  font-size: 18px;
  text-align:center;
}
#email-status {
  position:absolute;
  background-color:white;
  border-style:dashed;
  border-width:1px;
  border-color:black;
  border-radius:10px;
  height:auto;
  width:125px;
  padding:5px;
  margin-left: 25px;
}
